* {
  box-sizing: border-box;
}

body,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", Arial, sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* SUPER INFO */
.super-info-bg {
  background: #122ab2;
  color: #fff;
}

.super-info {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.super-info a,
.super-info p {
  margin: 0 10px 10px 10px;
}

.super-info a {
  color: #fff;
}

/* MENU  */
.menu-bg {
  background: #2c70ff;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #fff;
}

.menu-logo a {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.menu-nav a {
  font-size: 1.25rem;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

.introducao {
  font-size: 3rem;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;

  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;

  display: flex;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5rem;
}

.sobre-info p {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/* Produtos  */
.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 3rem;
}
